html {
    color: #222;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 1.0em;
}

header {
    text-align: center;
    padding-bottom: 0.4em;
    font-size: 1.4em;
}


header img {
    width: 16em;
    padding-bottom: 0.5em;
}

header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


header li {
    display: inline-block;
    padding: 0.0-em;
}
a {
    color: #727272;
    text-decoration: none;
}

a:hover {
    color: #bfbcbc;
}

#artists {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
    width: 11em;
}
#artists ol {
    list-style-type: none;
    display: none;
}
#artists li {
    padding-bottom: 0.0em;
}

#artists > li > a {
    color: black;
    font-weight: bold;
}
#artists > li > a:hover {
    color: #555555;
    // font-size: 1.32em;
}

#artists .visible {
    display: block;
}

#artists li ol {
    padding-left: 1em;
    line-height: 1.2;
    padding-bottom: 1em;
}
